<h1 align="center">Listing all articles</h1>
<div class="center">
	<%= will_paginate @article %>
</div>
<%= render 'article', obj: @article %>
<div class="center">
	<%= will_paginate @article %>
</div>