<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Alpha-Blog</title>
</head>
<body>
	
		<header>
			<h1>Ruby on Rails</h1>
		</header>

	<div id="container">

		<nav>
			<ul>
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "About", pages_about_path %></li>
			</ul>
		</nav>

		<main>

				<h2>Article 1</h2>
				<article>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt quidem asperiores unde dicta et, laboriosam, officiis est corrupti voluptatem debitis, incidunt magnam quae similique illum aspernatur aperiam? Ad, ratione, error!</p>

					<a href="#">More Info</a>
				</article>
				
		</main>

		<aside>
			<h2>About me</h2>
			<img src="https://picsum.photos/160/240/?ramdon" alt="Picture">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</aside>

		</div>

		<div class="clr"></div>

		<footer>
			<h2>Copyright 2019 &copy;</h2>
		</footer>
	
</body>
</html>